
    <h1>Ironhack Students</h1>
    <!-- <div class="man">
        <img src="./images/avatar1.jpg" alt="" />
        <img src="./images/avatar2.jpg" alt="" />
        <img src="./images/avatar3.jpg" alt="" />
        <img src="./images/avatar4.jpg" alt="" />
        <img src="./images/avatar5.jpg" alt="" />
    </div>
     -->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum amet necessitatibus laborum
        tempore optio magni alias accusamus eum aliquam nam doloribus molestias hic quae facere, sequi ipsum
        fugiat odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum amet necessitatibus laborum
        tempore optio magni alias accusamus eum aliquam nam doloribus molestias hic quae facere, sequi ipsum
        fugiat odio?</p>



        <!-- <section class="container testimonials_container mySwiper">
            <h2>Students' Testimonials</h2>
            <div class="swiper-wrapper">
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="./images/avatar1.jpg" alt="">
                    </div>
                    <div class="testimonial_info">
                        <h5>Diana Ayi</h5>
                        <small>Student</small>
                    </div>
                    <div class="testimonial_body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in nisi officiis, voluptates
                            consequatur corporis soluta doloribus optio repellat est.</p>
                    </div>
                </article>
    
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="./images/avatar2.jpg" alt="">
                    </div>
                    <div class="testimonial_info">
                        <h5>Earnest Achiever</h5>
                        <small>Web Developer</small>
                    </div>
                    <div class="testimonial_body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in nisi officiis, voluptates
                            consequatur corporis soluta doloribus optio repellat est.</p>
                    </div>
                </article>
    
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="./images/avatar3.jpg" alt="">
                    </div>
                    <div class="testimonial_info">
                        <h5>Dana Thomas</h5>
                        <small>Student</small>
                    </div>
                    <div class="testimonial_body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in nisi officiis, voluptates
                            consequatur corporis soluta doloribus optio repellat est.</p>
                    </div>
                </article>
    
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="./images/avatar4.jpg" alt="">
                    </div>
                    <div class="testimonial_info">
                        <h5>Hajia Bintu</h5>
                        <small>Student</small>
                    </div>
                    <div class="testimonial_body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in nisi officiis, voluptates
                            consequatur corporis soluta doloribus optio repellat est.</p>
                    </div>
                </article>
    
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="./images/avatar5.jpg" alt="">
                    </div>
                    <div class="testimonial_info">
                        <h5>Alia Bhatt</h5>
                        <small>Student</small>
                    </div>
                    <div class="testimonial_body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in nisi officiis, voluptates
                            consequatur corporis soluta doloribus optio repellat est.</p>
                    </div>
                </article>
            </div> -->
